.card {
  position: relative;
  width: 200px !important;
  width: calc(100% / 6);
  height: 400px;
  margin: 10px;
  perspective: 1000px;
}
p {
  color: #fff;
}
.descripcion {
  color: black;
}
.movies-container {
  display: flex;
  flex-wrap: wrap;
}

.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.6s;
}

.front {
  background: #05f9ed;
}

.back {
  background: #05f9ed;
  transform: rotateY(180deg);
}

.card:hover .front {
  transform: rotateY(180deg);
}

.card:hover .back {
  transform: rotateY(0);
}

.back h5 {
  font-size: 15px;
}

.movies-container,
h3 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.movies-container {
  padding: 15px;
  float: left;
  width: 100%;
}
h3 {
  color: #05f9ed;
}
.card-body-home {
  background-color: #05f9ed;
}

.container-pages {
  display: flex;
  flex-direction: column;
}

.section-page {
  display: flex;
  flex-direction: column;
  height: 100%;
}
* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 12px;
}
body {
  font-size: 16px;
}
.btn-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
.btn {
  font-size: 18px;
}
.NavGlobal {
  height: 50px;
  background-color: #424242;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.NavGlobal a {
  color: #fff;
  text-decoration: none;
}

.container-pages {
  display: flex;
  flex-direction: column;
  width: 100% !important;
}

.section-page {
  display: flex;
  height: 100%;
  width: 100% !important;
}

.card-text {
  font-weight: bold;
}
